/*layout.css*/
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
    display: flex;
    margin-top: 40px
}

/* Map Styles */
#map {
    flex: 1;
    position: relative;
    height: calc(100vh - 40px);
}

.leaflet-bottom.leaflet-left .leaflet-control-zoom {
    margin-bottom: 60px;
}