/* General Styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Topbar Styles */
.topbar {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    text-align: left;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 40px;
    line-height: 0; /* Ensure the text is vertically centered */
}

#content {
    flex: 1;
    display: flex;
    margin-top: 40px
}

/* Sidebar Styles */
.sidebar {
    width: 300px; /* Initial width */
    height: calc(100vh - 70px);
    background-color: white;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 600px;
}

/* Resizable handle for the sidebar */
.resizer {
    width: 5px;
    background-color: #333;
    cursor: ew-resize;
    position: fixed;
    left: calc(100% - 325px);
    top: 0;
    bottom: 0;
    z-index: 1002;
}

/* Map Styles */
#map {
    flex: 1;
    margin-right: 300px;
    position: relative;
    height: calc(100vh - 40px);
}

#city-search {
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 1002; /* higher than map's index */
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

#city-search input {
    margin: 5px 0;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

#city-search button {
    width: 100%;
    font-size: 1rem;
}

/*@media (max-width: 768px) {*/
/*    #city-search {*/
/*        left: 10px;*/
/*        right: 10px;*/
/*        width: auto;*/
/*    }*/
/*}*/


.leaflet-bottom.leaflet-left .leaflet-control-zoom {
    margin-bottom: 60px;  /* The zoom control is moved a bit up */
}

/* Tab and content styles */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    margin-top: 10px;
}

.info-section {
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
}

.info-section h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #222;
}

/* Label and Dropdown styles */
label[for="infoDropdown"] {
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

select#infoDropdown {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    font-size: 1rem;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

canvas {
    width: 100%;
    max-height: 350px;
    margin-bottom: 20px;
}


