/* General Styles */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Topbar Styles */
.topbar {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    text-align: left;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 40px;
    line-height: 0; /* Ensure the text is vertically centered */
}

#content {
    flex: 1;
    display: flex;
    margin-top: 40px
}

/* Sidebar Styles */
.sidebar {
    width: 300px;
    height: calc(100vh - 70px);
    background-color: white;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1001; /* Ensure sidebar is above map */
}

/* Map Styles */
#map {
    flex: 1;
    margin-right: 300px; /* Create space for the sidebar */
    height: calc(100vh - 40px); /* Make sure the map fills the remaining height */
}

.leaflet-bottom.leaflet-left .leaflet-control-zoom {
    margin-bottom: 60px;  /* The zoom control is moved a bit up */
}

/* Tab and content styles */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    margin-top: 10px;
}

.info-section {
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
}

.info-section h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #222;
}

/* Label and Dropdown styles */
label[for="infoDropdown"] {
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

select#infoDropdown {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    font-size: 1rem;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

