<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Session Planner</title>

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <div id="map"></div>
    <div id="sidebar" class="sidebar">
        <h2>Stargazing Info</h2>
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Geographical')">Geographical</button>
            <button class="tablinks" onclick="openTab(event, 'Weather')">Weather</button>
            <button class="tablinks" onclick="openTab(event, 'Astronomical')">Astronomical</button>
        </div>
        <div id="Geographical" class="tabcontent"></div>
        <div id="Weather" class="tabcontent"></div>
        <div id="Astronomical" class="tabcontent"></div>
    </div>

    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Link to external JavaScript -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

{% endblock %}
</body>
</html>
