<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Session Planner</title>

    <!-- Montserrat Fonts Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
    {% extends "base.html" %}

    {% block content %}
     <!-- City Search Form -->
    <div id="city-search">
        <form method="POST" action="/">
            {{ form.hidden_tag() }}
            <div>
                {{ form.city.label }}:
                {{ form.city(size=40) }}
            </div>
            <div>
                {{ form.submit(class_="btn btn-primary") }}
            </div>
        </form>
    </div>


    <div id="map"></div>

    <div id="sidebar" class="sidebar">
        <div class="resizer"></div>
        <h2>Stargazing Info</h2>
        <label for="infoDropdown">Pick the type of information:</label>
        <select id="infoDropdown" onchange="openTab(event, this.value)">
            <option value="Geographical">Geographical</option>
            <option value="Weather">Weather</option>
            <option value="Astronomical">Astronomical</option>
        </select>

        <div id="Geographical" class="tabcontent"></div>
        <div id="Weather" class="tabcontent">
            <div class="info-section">
                <h3>Temperature</h3>
                <canvas id="temperatureChart"></canvas>
            </div>

            <div class="info-section">
                <h3>Cloud Cover</h3>
                <canvas id="cloudCoverChart"></canvas>
            </div>

            <div class="info-section">
                <h3>Precipitation</h3>
                <canvas id="precipitationChart"></canvas>
            </div>
        </div>

        <div id="Astronomical" class="tabcontent"></div>
    </div>

    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Link to external JavaScript -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

{% endblock %}
</body>
</html>
